root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.{nix,sh,md}]
indent_style = space
indent_size = 2

# LISP
[*.kicad_sch]
indent_style = tab

# JSON format
[*.kicad_{pro,prl}]
indent_style = space
indent_size = 2

# DIY Layout Creator projects in XML format
[*.diy]
indent_style = space
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 72
